@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="/assets/client/js/controller/cartController.js"></script>
}
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Ảnh SP</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product.ID</td>
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.Image" width="100" /></td>
                            <td>
                                @if (item.Quantity < item.Product.Quantity)
                                {
                                    <input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" />
                                }
                                else
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            alert("Sản phẩm còn lại không đủ");
                                        };
                                    </script>
                                    <input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Product.Quantity" />
                                }
                            </td>
                            <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                            <td><a href="#" data-id="@item.Product.ID" class="btn-delete">Xoá</a></td>
                        </tr>
                    }

                </tbody>
            </table>

            <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="btn btn-info">Cập nhật giỏ hàng</button>
            <button id="btnDeleteAll" class="btn btn-warning">Xoá giỏ hàng</button>
            <button id="btnPayment" class="btn btn-danger">Thanh toán</button>
        }
        else
        {
            <div class="cart_index">
                <img class="empty_cart" src="~/assets/client/images/gio_hang_trong.png" />
                <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
                <br />
                <button id="btnContinue" class="btn btn_continue btn-outline-info">Mua sắm ngay</button>
            </div>
        }

    </div>
</div>
